<div class="richtext__container">
    <div class="richtext__wrapper">

        <div class="richtext__content__wrapper richtext__content">
            {{ block.text }}
        </div>
    </div>
</div>
