/**
 * Typography
 *
 * Note: This is only very basic, element based (!) typography styling.
 *       Everything else should be scoped to components, for best flexibility(!)
 *       You shouldn’t change much here.
 */

html {
    @extend %base-text-type--text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
}

a {
    &:link,
    &:visited,
    &:hover {
        color: inherit;
    }
}


/**
 * IMPORTANT: Please don’t use any element styles (e.g. styling lists or
 *            paragraphs without the scope of a components class).
 *            Chances are that you will have to reset them in different
 *            components. The navigation for example needs unstyled lists while
 *            lists within richtext areas need a list style.
 *
 *            Styling elements without the scope of a component class leads to
 *            regression bugs as the project evolves. So let’s don’t do that.
 *
 * Take away: Only style elements with the scope of a component class. E.g. .richtext p {}
 *            Even better: don’t style elements at all. Just use classes wherever possible.
 *
 * Read more: http://medoingthings.com/writing/2015/05/css-styling-html-elements-is-a-trap
 */
